language: python
python:
- '3.3'
- '3.4'
- nightly
matrix:
  allow_failures:
  - python: nightly
cache:
  directory:
  - "$HOME/.cache/pip"
install:
- pip install -r requirements.txt -r test_requirements.txt
script:
- nosetests
notifications:
  webhooks:
    urls:
    - secure: feEKRGM5pwxP6FenUYuGRNgxXj4O5vQfSsm8x3Zmv//pau4CEnKJ10R58Knu4aHdNuRab5U9OZF7vtcdCOtxdUUWULmCj5XFgUOdcyXpgkdMN9zkcV54bTU2DdwRqXX19h1Uas+bTxVvJLQy+OWX9BaGXvCcHKXvhh5OmcRoLmoHcpizrnMkahAh7uaOuhqgSVV/vSRv/RLYACrIbyT40b/CXeHenraJhLZMXBYtgTkgXQaxIjXHEZp3bcuYM2ErQCoRxvT32RO+qBtWthAWhpzFATBLKIYUoyJmPUvfFuD5iGOdPEvSm7Xkwh2efLFNsRqwMJwPFg5+tCjFo/Ln2zgZ4PwNHA9BE9H4W7RderqSQlMz6N/uQDeXJJiFWB1IWZUVMuPBuM89sfALvPmlxD4jUbokJwgJBkGiX7CdNM7kZKzMytqAGBtemgwWGBSd3AY9YA/8mTR7mY18hWxAjfrAB8v7U9/BjvZycgXGO6kmAGn3gWJF7JTxwl/Awr/TrOPt/1zT0jyAc8x5YWLoiUhiA/PHcM4TmNm877jsCRROxUJgGvHlOFYKjKAYSay6Uj7CBS2OLaepclReRRXKokgdi6SZrwbBkwSAwzZ7aRoecZ0IZ2LGa0752dlHIK/ZaFd0eWlFYWBbL8n2GawlI7qp4bBzfs5T0gaSWgO8mYQ=
  "    on_success": change
  "    on_failure": always
  "    on_start": false
deploy:
  provider: pypi
  user: slamon
  password:
    secure: UeWQv8UxD+qH+npKj4k3cmNovg13EH2IpFerBtJc9RAlTvDVueeOBCC5Rt/oW9CB3intrCBC3dfIqqyocAgtXRMIJ310xXyHsixXbsZ2KEulS49LxZAFPmz9FvTkmbofpoQcfdPY9+z7jyHOe0s3c6KplaryjoyzEE64VF3r9Xi1uaTfORVp5PkWs/k09keUsTC8Xj3iSdEa+6U/3oVcIL7lu6XiZ6E4YpauyziSe15uMiw6RZfnxZEvZ3IzFDu7ApLiIvwxR9juR4l7kPXdPgE+JOIn/hl0KA2uY/kw/uozMATR5gNDD+aGLIhgRXmeJNNoY8fPMpbZpNs2D9a366JTMM657rVfuuIZ6kf/WQ1EGyZUxpvfSyID4qKOUewN7NHiNSVk6kuRiFOFV5SQMXAfZKL8bWQHCHeRfmNPesEK2wvSXRfVdsCJvlXtulVoRAjfS2yR3XnOo2SfL1qesdr6YH7lEwq0aV5AAnCfz5Xm2gZBb+erub/W/Msk+KDCi5lfIuvaeryKU7tI+E3JvrFu6V6tbffryPv+TxBDUfxOfRDXv9FRr7oGSexHFd5QuAz1WXZBuXoJMUd0F1ca6CM9Dgx0/VzQLjm7w5GoYvW6gEIz0iXViZEVNgEGRGAc/aPv8KkflGjgXahQWhZ644YP9ullCO7wdjlJOffCYQg=
  on:
    repo: SLAMon/slamon-python-agent
    branch: master
    tags: true
